<div class="row background_auth">
    <div class="col-sm-6 d-none d-sm-block">
    </div>
    <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center opacity_div">

        <div class="login_center_box bg_silver p-4">
            <div class="text-center" style="color: #3f51b5;">
                <h1>sERVICEapp<mat-icon aria-hidden="false" aria-label="Example home icon">build</mat-icon>
                </h1>
                <h5>signup</h5>
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="signup()" class="example-form d-flex flex-column">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" type="text" matInput placeholder="John">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" type="text" matInput placeholder="Wick">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Service name</mat-label>
                    <input formControlName="serviceName" type="text" matInput placeholder="Auto Service">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="email@email.com">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country">
                      <mat-option *ngFor="let country of countries" [value]="country.val">
                        {{country.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <div class="text-center">
                    <mat-spinner *ngIf="loading" class="mx-auto" [diameter]="30"></mat-spinner>
                    <button *ngIf="!loading" mat-raised-button color="primary" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>