.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    padding: 0;
  }
  
  .example-sidenav {
    padding: 15px;
    width: 200px;
  }
  
  mat-drawer:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
  }

  .padding_left_container{
      padding-left: 75px;
  }

  .padding_left_container_opened {
      padding-left: 15px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }